.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: rgb(5, 86, 76);
}

.main {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; */
  /* padding: 10px; */
}

.left-nav {
  /* padding: 10px; */
  background-color: #0f39e1;
  /* box-sizing: border-box; */
}

.right-nav {
  background-color: green;
  /* padding: 10px; */
  /* max-height: 100%; */
}

/*
 grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
/* gap: 10px; */
/* padding: 10px; */

/* .left-content {
  background-color: #dfe4ea;
  padding: 10px;
}

.right-content {
  background-color: #f1f2f6;
  padding: 10px;
}

.footer {
  grid-row: 3;
  background-color: #2f3542;
  color: white;
  text-align: center;
  padding: 10px;
} */
